.panel {
    height: 100%;
    &-right {
        padding: 0 20px;
        text-align: right;
    }
    &-left {
        padding: 0 20px;
    }
    &-search {
        transition: all ease 0.3s;
        padding: 5px 20px;
        border-radius: 100px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        font-size: 1.1em;
        box-sizing: border-box;
    }
    &-searchRight {
        transform: translateX(50px);
    }
    &-back {
        transition: all ease 0.3s;
        size: 32px;
        display: inline-block;
        background: #CCC;
        position: absolute;
        transform: translateX(-30px);
        cursor: pointer;
        opacity: 0;
        &-show {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
