.plan {
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 0;
    min-height: 100%;
    &-cell {
        padding: 5px 20px;
        margin: 0 -20px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
        &:active {
            background: rgba(255, 255, 255, 0.1);
        }
    }
    &-time {
        font-size: 1em;
    }
    &-item {
        margin: 5px 0;
    }
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        border-left: 1px dotted rgba(255, 255, 255, 0.3);
        left: 13%;
        margin-left: 13px;
        z-index: -1;
    }
    &-additional {
        position: absolute;
        background: #FFF;
        border-radius: 30px;
        size: 5px;
        left: -7px;
        top: 50%;
        margin-top: -2px;
        &-icon {}
    }
    &-view {
        text-align: center;
        position: relative;
        &-small {
            margin: 5px auto;
            size: 11px;
            border-radius: 100px;
            background: #FFF;
        }
        &-big {
            size: 51px 41px;
            padding-top: 10px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 100px;
            background: $dark-grey-1;
            margin: 0 auto;
        }
        &-time {
            display: inline-block;
            margin: 5px auto;
            border: 1px dotted rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.6);
            background: $dark-grey-1;
            border-radius: 100px;
            padding: 2px 7px;
            font-size: 0.6em;
        }
    }
    &-text {
        padding: 5px 0px 5px 8px;
        &-caption {
            margin: 0;
            padding: 0;
            font-size: 1.2em;
            font-weight: normal;
            line-height: 1.2;
            &-time {
                margin: 0;
                padding: 0;
                font-size: 0.9em;
                font-weight: normal;
                line-height: 1.2;
            }
        }
        &-date {
            margin: 0;
            padding: 0;
            font-size: 0.7em;
            opacity: 0.7;
        }
        &-small {
            margin: 0;
            padding: 0;
            font-size: 0.7em;
            opacity: 0.7;
        }
    }
    &-points {
        margin: 5px 0;
        &-search {
            border: 0;
            width: 100%;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            padding: 5px 8px;
            background: none;
            color: #FFF;
            box-sizing: border-box;
            &:focus {
                border-bottom: 2px solid rgba(255, 255, 255, 0.7);
            }
        }
        &-view {
            margin: 5px auto;
            size: 31px;
            border-radius: 100px;
            background: $dark-grey-1;
            &-active {
                /*background: #FFF;*/
            }
        }
    }
    &-days {
        /*position: relative;*/


        &-day {
            margin: 0 auto;
            text-align: center;
            &:hover &-add {
                opacity: 1;
            }
            &-add {
                opacity: 0;
                transition: all 0.3s ease;
                text-align: center;
                font-size: 1.1em;
                vertical-align: middle;
                cursor: pointer;
                margin-top: -24px;
                right: 20px;
                size: 24px;
                display: block;
                position: absolute;
                border-radius: 100px;
                background: $dark-grey-1;
                border: 1px solid rgba(255, 255, 255, 0.3);
                &:before {
                    content: '+';
                }
                &:hover {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                }
                &:active {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    opacity: 0.8;
                }
            }
            &-background {
                background: $dark-grey-1;
                display: inline-block;
                padding: 4px;
                font-size: 0.7em;
                opacity: 0.7;
            }
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                left: 0;
                z-index: -1;
                margin-top: 8px;
                border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
            }
        }
    }
}
