.maps {
    width: 100%;
    height: 100vh;
    min-height: 300px;
}


.main {
    display: flex;
    flex-direction: row;
    &-left-panel {
        display: flex;
        height: 100%;
        background: #f0f0f0;
    }

    &-map {
        width: 100%;
        height: 100vh;
        &-top-panel {
            display: block;
            width: auto;
            height: 60px;
        }
        &-layout {
            display: block;
            width: auto;
            height: calc(100% - 60px);
            background: #f0f0f0;
        }
    }
}
