.block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.month {
    background: $acid-blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    z-index: 100;
    &-item {
        transition: all 0.3s ease;
        padding: 10px;
        font-size: 0.8em;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
        &:active {
            background: rgba(255, 255, 255, 0.3);
        }
        &-active {
            background: red;
        }
    }
}

.arrow {
    margin: 15px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    &:after {
        content: '';
        right: 0;
        position: absolute;
        top: 100%;
        width: 0; height: 0;
        border-right: 5px solid $dark-grey;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
}
